body {
  background-color: #80d4ea;
  margin: 0;
}

#clock {
  font-family: courier, monospace;
  text-align: center;
  color: white;
}

#clock h4 {
  font-size: 2em;
  background-color: #000080;
  margin: 2% 0;
}

#clock p {
  font-size: 2em;
  margin: 2%;
}

#clock p:last-child {
  font-size: 6em;
}
