@import url('https://fonts.googleapis.com/css?family=Handlee|Khula|Metamorphous|Zeyada');

body {
    background-color: #80d4ea;
}

p {
  color: white;
  font-family: "Handlee";
}

h3 {
  margin-top: 50px;
  color: purple;
  font-family: "Barrio";
  font-size: 2em;
}

div {
  text-align: center;
  font-size: 28px;
}
