body {
    background-color: #80d4ea;
}
/*@font-face{
 font-family:'digital-clock-font';
 src: url('put_the_location_to_your_font.ttf or .otf');
}*/


/*@import url('https://fonts.googleapis.com/css?family=Orbitron');*/

@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');

/*@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');*/



#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    /*font-family: 'digital-clock-font';*/
    /*font-family: "Bank Gothic", "Futura", "Arial";*/

    /*font-family: 'BebasNeueRegular';*/


    /*font-family: 'Orbitron', sans-serif;*/
    font-family:'Bungee Outline';
    font-size: 100px;
}
